@font-face {
  font-family: "Katona-III";

  src: url("../fonts/Katona-III.woff") format("woff");
}
@font-face {
  font-family: "A-day-without-sun-trial";
  src: url("../fonts/A-day-without-sun-trial.woff") format("woff");
}
